# Entorno virtual y entorno
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local
db.sqlite3

# Archivos generados
staticfiles/
media/

# Logs
*.log

# IDEs / editores
.idea/
.vscode/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db