body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-base);
  margin: 0;
}



/* Tablet */
@media (max-width: 1024px){
  body {
    height: 100vh;
    width: 100vw;
  }
}

/* Mobile */
@media (max-width: 768px){
  body {
    height: 100vh;
    width: 100vw;
  }

}