body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-base);
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-main {
  flex: 1;
}

/* Tablet */
@media (max-width: 1024px){
  body {
    height: 100vh;
    width: 100vw;
  }
}

/* Mobile */
@media (max-width: 768px){
  body {
    height: 100vh;
    width: 100vw;
  }

}