body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-base);
  margin: 0;
}

/* Mobile */
@media (max-width: 768px){

}

/* Tablet */
@media (max-width: 1024px){

}

/* Desktop large */
@media (min-width: 1400px){
  
}