{% extends "base/base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1>
  {% if is_new %}
    Crear producto
  {% else %}
    Editar producto
  {% endif %}
</h1>

<form method="post" id="product-form">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit" class="btn btn-primary">
      Guardar
    </button>
</form>

<div id="media-manager"
    data-upload-url="{% url 'catalog:product_media_upload' product.id %}"
    data-csrf-token="{{ csrf_token }}">

    <div id="media-list"></div>

    <button type="button" id="add-media-btn">
        + Agregar imagen o video
    </button>

    <input
      type="file"
      id="mediaInput"
      name=""
      form=""
      multiple
      accept="image/*,video/*"
      hidden
    />
</div>

<form
    method="post"
    action="{% url 'catalog:product_cancel' product.id %}"
    style="margin-top: 1rem;"
>
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary">
        Cancelar
    </button>
</form>

<script src="{% static 'js/media_drop.js' %}"></script>

{% endblock %}
