{% load static %}

<!DOCTYPE html>
<html lang="es" data-theme="light">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme/light.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme/dark.css' %}">
</head>

<body>
    {% include "base/header.html" %}

    <main class="site-main">
        {% block content %}{% endblock %}
    </main>

    {% include "base/footer.html" %}

    <script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'js/detail_slider.js' %}"></script>
    <script src="{% static 'js/catalog_filters.js' %}"></script>
</body>
</html>