/* Base */
@import "base/reset.css";
@import "base/variables.css";
@import "base/typography.css";

/* Layout */
@import "layout/base.css";
@import "layout/header.css";
@import "layout/footer.css";
@import "layout/grid.css";

/* Extra */
@import "extra/privacy.css";

/* Components */
@import "components/buttons.css";
@import "components/cards.css";
@import "components/pagination.css";
@import "components/owner_buttons.css";

/* Pages */
@import "pages/catalog.css";
@import "pages/product_detail.css";
@import "pages/owner_crud.css";
@import "pages/store_config.css";
@import "pages/login.css";
@import "pages/cart.css";