{% if page_obj.paginator.num_pages > 1 %}
<nav class="pagination">

    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{% if q %}&q={{ q }}{% endif %}{% for slug in selected_categories %}&category={{ slug }}{% endfor %}&sort={{ sort }}">
            ← Anterior
        </a>
    {% endif %}

    <span>
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% if q %}&q={{ q }}{% endif %}{% for slug in selected_categories %}&category={{ slug }}{% endfor %}&sort={{ sort }}">
            Siguiente →
        </a>
    {% endif %}

</nav>
{% endif %}