{% if page_obj.paginator.num_pages > 1 %}
<nav class="pagination">

    {# BOTÓN < #}
    {% if page_obj.has_previous %}
        <a class="page-btn"
           href="{% querystring request.GET page=page_obj.previous_page_number %}">
            &lt;
        </a>
    {% else %}
        <span class="page-btn disabled">&lt;</span>
    {% endif %}

    {# NUMERITOS #}
    {% for num in page_obj.paginator.page_range %}
        {% if num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %}
            {% if num == page_obj.number %}
                <span class="page-number active">{{ num }}</span>
            {% else %}
                <a class="page-number"
                   href="{% querystring request.GET page=num %}">
                    {{ num }}
                </a>
            {% endif %}
        {% endif %}
    {% endfor %}

    {# BOTÓN > #}
    {% if page_obj.has_next %}
        <a class="page-btn"
           href="{% querystring request.GET page=page_obj.next_page_number %}">
            &gt;
        </a>
    {% else %}
        <span class="page-btn disabled">&gt;</span>
    {% endif %}

</nav>
{% endif %}
