{% extends "base/base.html" %}

{% load price_filters %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}

<div class="product-page">

  <div class="product-layout">

    <!-- Columna principal -->
    <section>
      <div class="product-main">
        {% if request.session.catalog_return_url %}
            <a class="back-link" href="{{ request.session.catalog_return_url }}">
                ← Volver al catálogo
            </a>
        {% else %}
            <a class="back-link" href="{{ catalog_url }}">
                ← Ver catálogo
            </a>
        {% endif %}
        <h1 class="product-title-mobile">{{ product.name }}</h1>
        <!-- Galería -->
        <div class="product-gallery">
          <div class="gallery-thumbs">
            {% for img in product.images.all %}
              <img src="{{ img.image.url }}"
                   class="thumb {% if forloop.first %}active{% endif %}"
                   data-index="{{ forloop.counter0 }}">
            {% endfor %}
          </div>

          <div class="gallery-viewer" id="galleryViewer">

            <!-- Slides track -->
            <div class="slides-track">
              {% for img in product.images.all %}
                <img src="{{ img.image.url }}"
                     class="slide"
                     data-index="{{ forloop.counter0 }}">
              {% endfor %}
            </div>
          
            <!-- Flechas desktop -->
            <button class="nav-arrow prev" aria-label="Anterior">‹</button>
            <button class="nav-arrow next" aria-label="Siguiente">›</button>
          
            <!-- Dots mobile -->
            <div class="gallery-dots">
              {% for img in product.images.all %}
                <span class="dot {% if forloop.first %}active{% endif %}"
                      data-index="{{ forloop.counter0 }}"></span>
              {% endfor %}
            </div>
          
          </div>
        </div>

        <!-- Info -->
        <div class="info-box">
          <h1 class="product-title-desktop">{{ product.name }}</h1>
          <strong><p class="product-price">${{ product.price|ars }}</p></strong>
          <div class="product-description">
            {{ product.description|linebreaks }}
          </div>
        </div>
      </div>
    </section>

    <!-- Sidebar compra -->
    <aside class="product-sidebar">
      {% if product.links.exists %}
      <h3>🡫   Comprar   🡫</h3>
      <ul>
        {% for link in product.ordered_links %}
          <li>
            <a
              href="{{ link.get_url }}"
              target="_blank"
              class="btn btn-{{ link.link_type }}"
            >
              {{ link.button_text }}
            </a>
          </li>        
        {% endfor %}
      </ul>
      {% else %}
        <p class="unavailable-product">Producto no disponible</p>
      {% endif %}
    </aside>
      


  </div>

</div>

{% endblock %}
