{% load static %}
{% load price_filters %}

{% if product.slug %}
<article class="product-card">
  <a href="{% url 'catalog:product_detail' product.slug %}" class="product-card-link">

    <div class="product-card-image">
      {% if product.thumbnail %}
        <img src="{{ product.thumbnail.image.url }}" alt="{{ product.name }}">
      {% else %}
        <div class="image-placeholder">
          <img src="{% static 'images/placeholder.png' %}" alt="{{ product.name }}">
        </div>
      {% endif %}
    </div>

    <div class="product-card-body">
      <h3 class="product-card-title">{{ product.name }}</h3>
      <p class="product-card-price">${{ product.price|ars }}</p>
    </div>

  </a>
</article>
{% else %}
  <div class="product-card disabled">
{% endif %}