{% extends "base/base.html" %}

{% load price_filters %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}

<div class="product-page">

  <div class="product-layout">

    <!-- Columna principal -->
    <section>
      <div class="product-main">
        <!-- Galería -->
        <div class="product-gallery">
          <div class="gallery-thumbs">
            {% for img in product.images.all %}
              <img src="{{ img.image.url }}"
                   class="thumb {% if forloop.first %}active{% endif %}"
                   data-index="{{ forloop.counter0 }}">
            {% endfor %}
          </div>

          <div class="gallery-viewer">
            {% for img in product.images.all %}
              <img src="{{ img.image.url }}"
                   class="slide {% if forloop.first %}active{% endif %}">
            {% endfor %}
          </div>
        </div>

        <!-- Info -->
        <div class="info-box">
          <h1 class="product-title">{{ product.name }}</h1>
          <p class="product-price">${{ product.price|ars }}</p>
          <div class="product-description">
            {{ product.description|linebreaks }}
          </div>
        </div>
      </div>
    </section>

    <!-- Sidebar compra -->
    {% if product.links.exists %}
    <aside class="product-sidebar">
      <h3>Comprar</h3>
      <ul>
        {% for link in product.links.all %}
          <li>
            <a
              href="{{ link.get_url }}"
              target="_blank"
              class="btn btn-{{ link.link_type }}"
            >
              {{ link.button_text }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </aside>
    {% endif %}


  </div>

</div>



{% if request.META.HTTP_REFERER %}
    <a class="back-link" href="{{ request.META.HTTP_REFERER }}">
        ← Volver al catálogo
    </a>
{% else %}
    <a class="back-link" href="{{ catalog_url }}">
        ← Ver catálogo
    </a>
{% endif %}

{% endblock %}
