{% load static %}

<article class="product-card">
    <h3>{{ product.name }}</h3>
    <a href="{% url 'catalog:product_detail' product.slug %}">
        {% if product.images.first %}
            <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}">
        {% else %}
            <!-- <img src="{% static 'images/placeholder.png' %}" alt="{{ product.name }}"> -->
            <img src="{% static 'images/tralalero.webp' %}" alt="{{ product.name }}">
        {% endif %}
        <p>${{ product.price }}</p>
    </a>
</article>